// SUPERMOLOT
@include font-face("TTSupermolotNeue-Light", "TTSupermolotNeue-Light");
@include font-face("TTSupermolotNeue-Regular", "TTSupermolotNeue-Regular");
@include font-face("TTSupermolotNeue-Medium", "TTSupermolotNeue-Medium");
@include font-face("Roboto-Regular", "Roboto-Regular");

// FONT VARIABLES
$supermolot-light: "TTSupermolotNeue-Light", sans-serif;
$supermolot-regular: "TTSupermolotNeue-Regular", sans-serif;
$supermolot-medium: "TTSupermolotNeue-Medium", sans-serif;
$roboto: "Roboto-Regular", sans-serif;

$base-size: 17;
$base-line-height: 22;

$font-primary: $supermolot-regular;
$font-secondary: $supermolot-medium;
//
$font-heading: $supermolot-light;

$font-body: $roboto;
