.o-section-wrapper {

    &--video-scrub {
        position: relative;
        z-index: 2;
    }

    &--scroll-progress {
        position: relative;
        z-index: 2;
    }
}

.o-section {
    &__heading {
        padding-bottom: 20px;

        //overrides
        .u-a7 {
            max-width: percentage(12/20);

            @include mq("md") {
                max-width: 100%;
            }
        }

        .u-b0 {
            opacity: 0.4;
            max-width: 460px;
        }
    }

    &__content {
    }

    //modifiers
    &--homepage,
    &--homepage-slider,
    &--video-scrub,
    &--scroll-progress,
    &--gradient {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .o-container {
            position: relative;
        }
    }

    &--homepage-slider {
    }

    &--dummy {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
