.c-timeline {
    position: relative;
    height: 100vh;

    &__canvas {
        position: relative;
        z-index: 0 !important;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__navigation {
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: flex-end;

        .is-rotating-left &,
        .is-rotating-right & {
            pointer-events: none;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        //modifiers
        &--previous {
            margin-right: 40px;
            margin-left: auto;
        }

        //overrides
        &.c-link {
            color: $white;
        }
    }

    &__pagination {
        position: relative;
        margin-bottom: 30px;
        display: inline-block;
        width: auto;

        // overrides
        .swiper-pagination-bullets {
            margin-left: -15px;
        }
    }

    &__pagination-bullet.swiper-pagination-bullet {
        display: inline-block;
        margin: 0 15px;
        padding: 10px 0;
        height: auto;
        width: auto;
        border-radius: 0;
        background-color: transparent;
        transition: opacity 0.5s;

        @include hover {
            opacity: 0.6;
            transition: opacity 0.2s;
        }

        &.swiper-pagination-bullet-active {
            pointer-events: none;
        }

        &:last-child {
            position: absolute;
            top: 0;
            left: 100%;
        }
    }

    &__progress-line {
        position: absolute;
        top: 100%;
        left: 0;
        right: -15px;
        height: 1px;
        background-color: $white-20;
    }

    &__progress-line-dot {
        position: absolute;
        top: -2px;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $white;
        border-radius: 50%;
    }

    // overrides
    .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.c-timeline-item {
    width: 100vw;
    height: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 1;
    //outline: 2px solid red;

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px 40px;
        transform: translate(50%, 50%);
        opacity: 0;
        transition: opacity 0.3s ease-out;
        margin-top: 100px;
    }

    &.swiper-slide-active {
        .c-timeline-item__inner {
            opacity: 1;
        }
    }

    &:hover {
        .c-timeline-item__img {
            border: 1px solid rgba(255, 255, 255, 0.5);
            transform: scale(1.05);
        }

        .c-timeline-item__year {
            transform: translateY(-20px);
        }

        .c-timeline-item__title {
            transform: translateY(-25px);
            transition-delay: 0.05s;
        }
    }

    &__year {
        position: absolute;
        top: 0;
        left: 40px;
        transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        @extend .u-b2;
    }

    &__title {
        text-align: left;
        max-width: 240px;
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        @extend .u-a5;
    }

    &__text {
    }
}

.c-timeline-slider-container {
}

.c-timeline-slider {
    &__slide {
        &.swiper-slide-active {
            text-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
        }
    }
}
