.c-timeline {
    position: relative;
    height: 100vh;
    background-color: #010D10;

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0 !important;
        transition: 0.5s ease-out;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__navigation {
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 100%;
        z-index: 1;
        text-align: center;
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 100px;
        right: percentage(2/24);

        .is-rotating-left &,
        .is-rotating-right & {
            pointer-events: none;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        //modifiers
        &--previous {
            margin-right: 40px;
            margin-left: auto;
        }

        //overrides
        &.c-link {
            color: $white;
        }

        &.swiper-button-disabled {
            opacity: 0.2;
            pointer-events: none;
        }
    }

    &__pagination {
        position: relative;
        display: inline-block;
        width: auto;

        // overrides
        .swiper-pagination-bullets {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__pagination-bullet.swiper-pagination-bullet {
        display: inline-block;
        margin: 0 15px;
        padding: 10px 0;
        height: auto;
        width: auto;
        border-radius: 0;
        background-color: transparent;
        transition: opacity 0.5s;

        @include hover {
            opacity: 0.6;
            transition: opacity 0.2s;
        }

        &.swiper-pagination-bullet-active {
            pointer-events: none;
        }
    }

    &__progress-line {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 10px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            height: 1px;
            right: 30px;
            left: 30px;
            background-color: $white-20;
        }

        .swiper-scrollbar-drag {
            background-color: transparent;
            cursor: grab;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -3px;
                margin-left: -2.5px;
                width: 5px;
                height: 5px;
                background-color: $white;
                border-radius: 100px;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -13px;
                margin-left: -13px;
                width: 24px;
                height: 24px;
                border: 1px solid $white-50;
                border-radius: 100px;
                transition: getTransition();
                transform: scale(0.3);
                opacity: 0;
            }

            &:hover {
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &:active {
                cursor: grabbing;

                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }

        }
    }

    &__progress-line-dot {
        position: absolute;
        top: -2px;
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $white;
        border-radius: 50%;
    }

    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        z-index: 99;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;

        &.is-active {
            pointer-events: auto;
        }
    }

    &__popup-inner {
        margin-left: 50%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding-left: percentage(1/24);
        min-height: 100vh;
    }

    &__popup-year {
        padding-bottom: 15px;
    }

    &__popup-title {
        padding-bottom: 30px;
        max-width: 400px;
        width: 100%;
    }

    &__popup-content {
        max-width: 350px;
        width: 100%;

        br {
            display: block;
            margin-bottom: 0.6em;
        }
    }

    &__popup-close {
        position: absolute;
        right: percentage(2/24);
        width: 40px;
        height: 40px;
        cursor: pointer;
        top: 100px;
        transition: getTransition();

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 2px;
            background-color: $white;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:hover {
            opacity: 0.2;
            transform: scale(0.9);
        }
    }

    &__popup-progress-line {
        position: absolute;
        bottom: 75px;
        left: percentage(2/24);
        width: percentage(20/24);
        height: 1px;
        background-color: $white-30;
    }

    &__popup-progress-indicator {
        position: absolute;
        top: 0;
        height: 1px;
        background-color: $white;
        left: 0;
    }

    // overrides
    .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        .is-popup-opened & {
            pointer-events: none !important;
        }
    }
}

.c-timeline-item {
    width: 100vw;
    height: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 1;
    //outline: 2px solid red;

    &__inner {
        position: absolute;
        width: 420px;
        top: 50%;
        left: 50%;
        padding: 20px 40px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        margin-top: 100px;
    }

    &.swiper-slide-active {
        .c-timeline-item__inner {
            opacity: 1;
        }
    }

    &:hover {
        .c-timeline-item__year {
            //transform: translateY(-20px);
        }

        .c-timeline-item__title {
            //transform: translateY(-25px);
            //transition-delay: 0.05s;
        }
    }

    &__year {
        position: absolute;
        top: 0;
        left: 40px;
        transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        @extend .u-b2;
    }

    &__title {
        text-align: left;
        max-width: 240px;
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        @extend .u-a5;
    }

    &__text {
    }
}

.c-timeline-slider-container {
}

.c-timeline-slider {
    &__slide {
        &.swiper-slide-active {
            //text-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
        }
    }
}
