.c-dummy {
	display: inline-block;
	margin-bottom: 0;
	padding: 20px 30px;
	min-width: 85px;
	border: 1px solid transparentize($white, 0.8);

	&--dark {
		color: $black;
		border: 1px solid transparentize($black, 0.8);
	}
}
